config/correo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuracion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="xs:string"/>
                <xs:element name="clave" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>